<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<div class="content">
    <div class="header">
        <h1 th:text="${title}">Default title</h1>
    </div>


    <table class="table">
        <tr>
            <td><a th:href="@{'/recipe/single/' + ${recipe.id}}"
                   th:text="${recipes}"
                   th:id="${recipe.id}"></a>
            </td>
        </tr>
    </table>
</div>

</body>
</html>