<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<div class="content">
    <div class="header">
        <h1 th:text="${title}">Default title</h1>
    </div>

    <p th:unless="${ratings} and ${ratings.size()}">Rate/Comment</p>
    <table class="table">

            <tr>
                <th>Rating</th>
                <th>Comment</th>
            </tr>
        <tr th:each="rating : ${ratings}">
                <td th:text="${rating.rating}"
                    th:id="${rating.id}">
                </td>
            <td th:text="${rating.comment}"></td>
        </tr>

    </table>


</div>

</body>
</html>