<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<!--nav th:replace="fragments :: navigation"></nav>-->
<nav th:fragment="navigation">
    <div class="sidenav">
        <a href="/recipe/add">Add Recipe</a>
    </div>

</nav>
<div class="container" style="background:#FFFFF0;">
    <form th:action="@{'/user/logout'}" method="get">
        <button>Logout</button>
    </form>
    <div class="header">
        <h3 style="color:green" th:text="${title}">Default title</h3>
    </div>
    <P style="color:green" th:text="Welcome + ' ' +${user} + '!' "></P>
    <!--<p style="color:green" th:text="${message}">Success!</p>
    <div class="single" th:each="i : ${user}">
        <table>
            <tr>
                <th>First Name</th>
                <td th:id="${i.id}"
                    th:text="${i.firstName}"></td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td th:id="${i.id}"
                    th:text="${i.lastName}"></td>
            </tr>
            <tr>
                <th>Email</th>
                <td th:id="${i.id}"
                    th:text="${i.email}"></td>
            </tr>
        </table>
    </div>-->
</div>
</body>
</html>