<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<div class="content">
    <div class="header">
        <h1 th:text="${title}">Default title</h1>
    </div>
    <div class="single" th:each="i : ${user}">
        <table>
            <tr>
                <th>First Name</th>
                <td th:id="${i.id}"
                    th:text="${i.firstName}"></td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td th:id="${i.id}"
                    th:text="${i.lastName}"></td>
            </tr>
            <tr>
                <th>Email</th>
                <td th:id="${i.id}"
                    th:text="${i.email}"></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>