<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<div class="content">
    <div class="header">
        <h1 th:text="${title}">Default title</h1>
    </div>

    <table class="table">
        <tr th:each="recipe : ${recipes}">
        <tr>
            <td th:id="${recipe.id}"><a th:href="@{'/recipeIngs/recipe?id=' + ${recipe.id}}" th:text="${recipe.recipeName}"></a>
            </td>
        </tr>
        </tr>

    </table>

    <td>
        <form th:action="@{'/recipeIngs/add'}" th:object="${recipeIngs}" method="get">
            <button>Add Ingredients</button>
        </form>
    </td>
</div>

</body>
</html>